*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #dbd8e3;
	font-family: "Roboto",sans-serif;
}
.screen{
	display: none;
}
.screen.active{
	display: block;

}
.app{
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	min-height:500px ;
	max-width: 500px ;
	background: #fff;
	border-right: 1px solid #ddd;
	border-left:1px solid #ddd ;
	overflow: scroll;
}
.join-screen .form{
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	padding: 50px;
}
.join-screen .form .form-input{
	margin: 50px;
	height: 100%;
  	display: flex;
  align-items: center;
  justify-content: center;
}
.join-screen .form h2{
	margin-bottom: 50px;
	font-size: 40px;
	line-height: 45px;
	color: #fff;
	margin-bottom: 20px;
}
.join-screen .form button{
	min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  
background: linear-gradient(90deg, rgba(129,260,80,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.join-screen .form button:hover, .join-screen .form button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.join-screen .form #join-id b{
	color: #222;
	display: block;
	margin-top: 20px;

}
.join-screen .form #join-id span {
	display: inline-block;
	font-size: 25px;
	font-family: monospace;
	color: #222;
	padding: 10px;
	border: 1px solid #111;
	margin-top:5px ;

}
.join-screen .form label{
	color: #222;
	font-size: 18px;
}
.join-screen .form input{
	display: block;
	margin: 10px 0;
	width: 100%;
	max-width: 200px;
	border: 1px solid #111;
	color: #111;
	font-size: 20px;
	padding: 10px;
}
.fs-screen{
	padding: 20px;
}
.fs-screen .file-input{
	width: 100%;
	border: 2px dashed #555;
}
.fs-screen .file-input label{
	display: block;
	width: 100%;
	padding: 40px 50px;
	text-align: center;
	color: #5766;
	font-size: 18px;
}
.fs-screen .file-input input{
	display: none;
}
.fs-screen .files-list{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.fs-screen .files-list .title{
	width :100%;
	font-size: 18px;
	color: #555;
	margin-bottom: 20px;
}
.fs-screen .files-list .item{
	width: 33.33%;
	min-width: 200px;
	border:1px solid #eee;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.fs-screen .files-list .item .progress{
	padding: 30px;
	text-align: center;
	font-size: 50px;
	font-famisly: monospace;
	color: #222;
}
.fs-screen .files-list .item .filename{
	font-size: 16px;
	padding: 5px;
	border-top: 1px solid #eee;
}
 



.icon {

  position: absolute;
  top: 50px;
  right: 20%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}


.icon__home
 {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  background: white;
  color: #333; /* Change this color as needed */
  transition: all 0.3s ease;
}


.icon__home:active {
z-index: 3;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(1, 1, 1, 1);
}


.icon__home:hover{
  color: #007bff; /* Change this color as needed */
}

